/* Custom primary text color */
.text-custom-primary {
    color: #4476ac;
}
.text-custom-white{
    color:#f1e4cc;
}

/* Custom primary background color */
.bg-custom-primary {
    background-color: #4476ac;
}

/* Navbar item custom primary color */
.nav-item .nav-link.text-custom-primary {
    color: #4476ac !important;
}
