
.text-custom-primary {
    color: #4476ac;
}
.text-custom-white{
    color:#f1e4cc;
}

.bg-custom-primary {
    background-color: #4476ac;
}

.nav-item .nav-link.text-custom-primary {
    color: #4476ac !important;
}
